.flex-container {
  display: flex;
  text-align: center;
  justify-content: center;
}
.wel {
  top: 2340px;
  left: -1px;
  width: auto;
  height: 595px;
  background: #fbf8f3 0% 0% no-repeat padding-box;
  opacity: 1;
}
.we {
  padding-top: 80px;
  font-size: 60px;
  text-align: center;
  letter-spacing: 0px;
  color: #0d0d0d;
  opacity: 1;
  line-height: 1.5;
}
.lo {
  padding-top: 40px;
  font-size: 30px;
  text-align: center;
  font: normal normal 300 25px/38px Poppins;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  line-height: 1.5;
}
.drop {
  margin-top: 40px;
  margin-right: 19px;
  padding: 10px;
  width: 211px;
  height: 76px;
  background: #fbf8f3 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #c3362a;
  opacity: 1;
}
